body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./images/pk-bg.jpg');
  background-size: cover;
}

.poke-info{
  border: 10px solid purple;
  width:55%;
  margin-left:21.3%;
  background-color:orange;

}

h3{
font-weight: bold;


}

